In [21]:
class Car:
    def __init__(self, m,y,ma):
        self.milage = m
        self.year = y
        self.make = ma
        
    def Age(self,current_year):
        return "The current age of the car is:", current_year - self.year

In [23]:
Swift = Car(18,2019,"Japan")
BMW = Car(10,2014,"England")

In [24]:
Swift.year

2019

In [25]:
Swift.Age(2021)

('The current age of the car is:', 2)

In [26]:
BMW.Age(2021)

('The current age of the car is:', 7)

In [39]:
class student:
    def __init__(self,name,rollno,phone_num,batch):
        self.name = name
        self.rollno = rollno
        self.phone_num = phone_num
        self.batch = batch
        
    def Name_Upper(self):
        print(self.name.upper())
        
    def str_rollno(self):
        if type(self.rollno) == str :
            print("doing nothing")
            return self.rollno
        else:
            print("Converting")
            return str(self.rollno)
        
    def sum_of_phone_num(self):
        self.total = 0
        for i in str(self.phone_num):
            self.total += int(i)
            
        return self.total
            
        
    def __str__(self):
        return "It is a student class to store detials of the students"

In [41]:
Naveen = student("Naveen",191719129,8825426132,"May-7")

In [42]:
Naveen.Name_Upper()

NAVEEN

In [43]:
Naveen.str_rollno()

Converting

'191719129'

In [46]:
Naveen.sum_of_phone_num()

41

In [45]:
print(Naveen)

It is a student class to store detials of the students